# Created by .ignore support plugin (hsz.mobi)

.idea/
*.iml
_site/
.sass-cache/
projects/control-io/html/gamepad old.html
projects/control-io/html/gamepad react.html
projects/control-io/html/gamepad.html
