
<div style="padding-top: 20px" class="ui container ">
  <p style="color:white; font-size:40px;">Initial Concept</p>
  <div style ="display: inline-block; margin:25px;">
<img src="https://control-io-ics485sp20.github.io/images/part1.png" class="ui large image" style="margin:auto;"/>
  </div>
  <div style ="display: inline-block; margin:25px;">
<img src="https://control-io-ics485sp20.github.io/images/part2.png" class="ui large image" style="margin:auto;"/>
  </div>
  <div style ="display: inline-block; margin:25px;">
<img src="https://control-io-ics485sp20.github.io/images/part3.png" class="ui large image" style="margin:auto;"/>
  </div>
  <div style ="display: inline-block; margin:25px;">
<img src="https://control-io-ics485sp20.github.io/images/part4.png" class="ui large image" style="margin:auto;"/>
  </div>
  <div style ="display: inline-block; margin:25px;">
<img src="https://control-io-ics485sp20.github.io/images/part5.png" class="ui large image" style="margin:auto;"/>
  </div>

  <hr>
</div>

