<div style="padding-top: 20px" class="ui container ">


<img src="https://control-io-ics485sp20.github.io/images/app part1.png" class="ui big image" style="margin:auto;"/>
<img src="https://control-io-ics485sp20.github.io/images/app part2.png" class="ui big image" style="margin:auto;"/>
<img src="https://control-io-ics485sp20.github.io/images/app part3.png" class="ui big image" style="margin:auto;"/>
<img src="https://control-io-ics485sp20.github.io/images/app part4.png" class="ui big image" style="margin:auto;"/>
<img src="https://control-io-ics485sp20.github.io/images/app part5.png" class="ui big image" style="margin:auto;"/>
  
</div>
