
<div style="padding-top: 20px; text-align:center;" class="ui container ">
  <p style="color:white; font-size:40px; ">Initial Concept</p>
  <div style ="display: inline-block; margin:25px;">
<img src="https://control-io-ics485sp20.github.io/images/part1.png" class="ui large image" style="margin:auto;"/>
  </div>
  <div style ="display: inline-block; margin:25px;">
<img src="https://control-io-ics485sp20.github.io/images/part2.png" class="ui large image" style="margin:auto;"/>
  </div>
  <div style ="display: inline-block; margin:25px;">
<img src="https://control-io-ics485sp20.github.io/images/part3.png" class="ui large image" style="margin:auto;"/>
  </div>
  <div style ="display: inline-block; margin:25px;">
<img src="https://control-io-ics485sp20.github.io/images/part4.png" class="ui large image" style="margin:auto;"/>
  </div>
  <div style ="display: inline-block; margin:25px;">
<img src="https://control-io-ics485sp20.github.io/images/part5.png" class="ui large image" style="margin:auto;"/>
  </div>

  <hr>
</div>

<div style="color:white; text-align:center;" class="ui container ">
  <p style="color:white; font-size:40px; ">Art Assets</p>
  <div style ="display: inline-block; margin:25px;">
    <p>Prototype Background_1</p>
    <img src="https://control-io-ics485sp20.github.io/images/night.png" class="ui large image" style="margin:auto;"/>
  </div>
  <div style ="display: inline-block; margin:25px;">
    <p>Prototype Background_2</p>
    <img src="https://control-io-ics485sp20.github.io/images/star.png" class="ui large image" style="margin:auto;"/>
  </div>
  <div style ="display: inline-block; margin:25px;">
    <p>Spaceship model (prototype)</p>
    <img src="https://control-io-ics485sp20.github.io/images/grey.png" class="ui large image" style="margin:auto;"/>
  </div>
  <div style ="display: inline-block; margin:25px;">
    <p>Organic Spaceship model</p>
    <img src="https://control-io-ics485sp20.github.io/images/organic.png" class="ui large image" style="margin:auto;"/>
  </div>
  <div style ="display: inline-block; margin:25px;">
    <p>Asteroid design</p>
    <img src="https://control-io-ics485sp20.github.io/images/asteroid.png" class="ui large image" style="margin:auto;"/>
  </div>
  <div style ="display: inline-block; margin:25px;">
    <p>Death Animation</p>
    <img src="https://control-io-ics485sp20.github.io/images/death.gif" class="ui large image" style="margin:auto;"/>
  </div>

  <hr>
</div>

