<div class="ui cards">
  <div class="ui card">
  <div class="image">
    <img src="https://react.semantic-ui.com/images/avatar/large/matthew.png" />
  </div>
  <div class="content">
    <div class="header">Barryn Chun</div>
    <div class="meta"><span class="date">ICS Major</span></div>
    <div class="description">barryn.chun@gmail.com</div>
  </div>
</div>

<div class="ui card">
  <div class="image">
    <img src="https://react.semantic-ui.com/images/avatar/large/matthew.png" />
  </div>
  <div class="content">
    <div class="header">Woojoon Hwang</div>
    <div class="meta"><span class="date">ICS Major</span></div>
    <div class="description">hwangwoo@hawaii.edu</div>
  </div>
</div>

<div class="ui card">
  <div class="image">
    <img src="https://react.semantic-ui.com/images/avatar/large/matthew.png" />
  </div>
  <div class="content">
    <div class="header">Jayme Sugitaya</div>
    <div class="meta"><span class="date">ACM Major</span></div>
    <div class="description">Jaymesug@hawaii.edu</div>
  </div>
</div>
</div>
